DB_HOST=igmcyt.h.filess.io
DB_PORT=61031
DB_USER=Vetcore_forthtryby
DB_PASSWORD=e79084b6962e61006e30ae09a8155f9f6c67de80
DB_NAME=Vetcore_forthtryby

PORT=4000
JWT_SECRET=vetcore-clave-super-secreta-cambiala-2026-xyz789
ADMIN_EMAIL=admin@vetcore.com
ADMIN_PASSWORD=Admin123!